<% layout("layouts/cardplate")%>

	<h5 class="card-title mb-3">Edit <%= payee.name %>
	</h5>
	<hr>
	<form method="POST" action="/payees/<%=payeeID%>?_method=PUT" novalidate class="needs-validation">
		<div class="form-floating mb-3">
			<input class="form-control" type="text" name="payee[name]" id="name" value="<%= payee.name %>"
				placeholder="Payee Name" required autofocus>
			<label for="name">Name</label>
			<div class="invalid-feedback">Name can't be blank</div>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="email" name="payee[email]" id="email" value="<%= payee.email %>"
				placeholder="Email Address">
			<label for="email">Email</label>
			<div class="invalid-feedback">provide a valid email address</div>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="text" name="payee[phoneNumber]" pattern="[0]{1}[0-9]{2}[0-9]{7}"
				id="phoneNumber" value="<%= payee.phoneNumber %>" placeholder="Phone Number">
			<label for="phoneNumber">Phone Number</label>
			<div class="invalid-feedback">Phone Number must follow the pattern (05xxxxxxxx)</div>
		</div>
		<div class="form-floating mb-3">
			<textarea class="form-control" name="payee[extraNotes]" id="notes" placeholder="Leave any extra notes here"
				style="height: 100px"><%= payee.extraNotes %></textarea>
			<label for="notes">Leave any extra notes here</label>
		</div>
		<div class="mb-3">
			<button class="btn btn-lg btn-primary w-100">Update</button>
		</div>
	</form>
	<a href="/payees/<%=payeeID%>" class="btn btn-dark" role="button">Cancel</a>