<% layout("layouts/boilerplate")%>

	<div class="row">
		<h1 class="text-center">
			<%= payee.name %>
				<a href="/payees" class="btn btn-dark active" role="button">Back</a>
		</h1>
		<table class="table table-striped table-hovers mt-3">
			<thead>
				<th>Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Extra Notes</th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<th>
						<%= payee.name%>
					</th>
					<th>
						<%= payee.email%>
					</th>
					<th>
						<%= payee.phoneNumber%>
					</th>
					<th id="extraNotes">
						<%= payee.extraNotes%>
					</th>
					<th>
						<a href="/payees/<%=payeeID%>/edit" class="btn btn-warning btn-sm" role="button">Edit</a>
						<form class="d-inline px-3" method="POST" action="/payees/<%=payee._id%>?_method=DELETE">
							<button class="btn btn-sm btn-outline-danger">
								Delete
							</button>
						</form>
					</th>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="row">
		<table class="table table-striped table-hovers mt-3">
			<thead>
				<th>Date</th>
				<th>Value</th>
				<th></th>
			</thead>
			<tbody>
				<% for(let cheque of payee.cheques) {%>
					<tr>
						<th>
							<%= cheque.dueDate.toISOString().substring(0, 10)%>
						</th>
						<th>
							<%= cheque.value%>
						</th>
						<th>
							<a class="btn btn-primary btn-sm" href="/cheques/<%=cheque._id%>">View</a>
							<form class="d-inline px-3" method="POST" action="/cheques/<%=cheque._id%>?_method=DELETE">
								<button class="btn btn-sm btn-outline-danger">
									Delete
								</button>
							</form>
						</th>
					</tr>
					<% } %>
			</tbody>
		</table>
	</div>