<% layout("layouts/cardplate")%>

	<h5 class="card-title mb-3">Edit Cheque #<%= cheque.serial%>
	</h5>
	<hr>
	<form action="/cheques/<%=chequeID%>?_method=PUT" method="POST" novalidate class="needs-validation">
		<div class="mb-3">
			<label class="form-label" for="dueDate">Date</label>
			<input class="form-control" type="date" name="cheque[dueDate]"
				value="<%= cheque.dueDate.toISOString().substring(0, 10) %>" id="dueDate" required
				style="height: 60px;">
		</div>
		<div class="mb-3">
			<label class="form-label" for="payee">Payee</label>
			<select class="form-control" name="cheque[payee]" id="payee" style="height: 60px;">
				<option selected hidden
					value="<% if (!cheque.isDeleted && !cheque.isCancelled){ %><%=cheque.payee._id%><% }%>">
					<% if(cheque.isCancelled){ %>Cancelled Cheque<% } else if (cheque.isDeleted){ %>Deleted Payee<% }
								else {%>
								<%=cheque.payee.name%>
									<% } %>
				</option>
				<% for(let payee of payees) {%>
					<option value="<%=payee._id%>">
						<%= payee.name %>
					</option>
					<% } %>
			</select>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="number" name="cheque[serial]" id="serial"
				placeholder="Cheque Serial Number" pattern="[0-9]{1,3}" value="<%=cheque.serial%>" required>
			<label for="serial">Serial Number</label>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">₪</span>
			<div class="form-floating flex-grow-1">
				<input class="form-control" type="number" name="cheque[value]" id="value" placeholder="Cheque Value"
					value="<%=cheque.value%>" pattern="[0-9]{1,7}" required autofocus>
				<label class="form-label" for="value">Value</label>
			</div>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="text" name="cheque[description]" value="<%= cheque.description %> "
				id="description" placeholder="Cheque Description">
			<label for="description">Description</label>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" name="cheque[isCancelled]" id="isCancelled" <%
				if(cheque.isCancelled) {%>
			checked
			<% } %>
				>
				<label class="form-check-label" for="isCancelled">Cancelled</label>
		</div>
		<div class="my-3">
			<button class="btn btn-lg btn-primary w-100">Update</button>
		</div>
	</form>
	<a href="/cheques/<%=chequeID%>" class="btn btn-dark" role="button">Cancel</a>