<% layout("layouts/cardplate")%>

	<h5 class="card-title mb-3">Edit log for "<%= log.worker.name%>"</h5>
	<hr>
	<form action="/logs/<%=log._id%>?_method=PUT" method="POST" novalidate class="needs-validation">
		<div class="mb-3">
			<label class="form-label" for="date">Date</label>
			<input class="form-control" type="date" name="log[date]"
				value="<%= log.date.toISOString().substring(0, 10) %>" id="date" required style="height: 60px;">
		</div>
		<div class="mb-3">
			<label class="form-label" for="worker">Worker</label>
			<select class="form-control" name="log[worker]" id="worker" style="height: 60px;" required>
				<option selected hidden value="<%= log.worker._id%>">
					<%= log.worker.name %>
				</option>
				<% for(let worker of workers) {%>
					<option value="<%= worker._id %>">
						<%= worker.name %>
					</option>
					<% } %>
			</select>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">₪</span>
			<div class="form-floating flex-grow-1">
				<input class="form-control" type="number" name="log[payment]" value="<%= log.payment%>" id="payment"
					placeholder="Log Payment" pattern="[0-9,-]{1}[0-9]{0,7}">
				<label class="form-label" for="payment">Payment</label>
			</div>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" name="log[isAbsence]" id="isAbsence" <% if(log.isAbsence)
				{%>
			checked
			<% } %>
				>
				<label class="form-check-label" for="isAbsence">Absence</label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="text" name="log[time]" id="time" value="<%= log.time%>"
				placeholder="Log Description">
			<label for="time">Time</label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="text" name="log[overtime]" id="overtime" value="<%= log.overtime%>"
				placeholder="Log Description">
			<label for="overtime">Overtime</label>
		</div>
		<div class="form-floating mb-3">
			<input class="form-control" type="text" name="log[overtimeValue]" id="overtimevalue"
				value="<%= log.overtimeValue%>" placeholder="Log Description">
			<label for="overtimeValue">Overtime Value</label>
		</div>
		<div class="form-floating mb-3">
			<textarea class="form-control" name="log[extraNotes]" id="notes" placeholder="Leave any extra notes here"
				style="height: 100px"><%= log.extraNotes%></textarea>
			<label for="notes">Leave any extra notes here</label>
		</div>
		<div class="mb-3">
			<button class="btn btn-lg btn-primary w-100">Update</button>
		</div>
	</form>
	<a href="/logs/<%=log._id%>" class="btn btn-dark" role="button">Cancel</a>