<% layout("layouts/cardplate")%>

	<h5 class="card-title mb-3">Log for "<%= log.worker.name %>"</h5>
	<hr>
	<dl>
		<dt>Log Worker Name: </dt>
		<dd>
			<%= log.worker.name %>
		</dd>
		<dt>Log Date: </dt>
		<dd>
			<%= log.date.toISOString().substring(0, 10)%>
		</dd>
		<dt>Log Payment:
		</dt>
		<dd>₪<%= log.payment %>
		</dd>
		<dt>Log Time:
		</dt>
		<dd>
			<%= log.time %>
		</dd>
		<dt>Log Overtime:
		</dt>
		<dd>
			<%= log.overtime %>
		</dd>
		<dt>Log Overtime:
		</dt>
		<dd>
			<%= log.overtimeValue %>
		</dd>
		<dt>Log Extra Notes:
		</dt>
		<dd>
			<%= log.extraNotes %>
		</dd>
		<dt>Log Is Absence:
		</dt>
		<dd>
			<%= log.isAbsence %>
		</dd>
	</dl>

	<a href="/logs/<%=log._id%>/edit" class="btn btn-lg btn-warning w-100 my-3 text-white" role="button">Edit</a>
	<a href="/logs" class="btn btn-lg btn-dark active w-100 mb-3" role="button">Back</a>
	<form class="mb-3" method="POST" action="/logs/<%=log._id%>?_method=DELETE">
		<button class="btn btn-lg btn-outline-danger w-100">
			Delete
		</button>
	</form>