<% layout("layouts/boilerplate")%>

	<div class="row">
		<h1 class="text-center">
			<%= worker.name %>
				<a href="/workers" class="btn btn-dark active" role="button" aria-pressed="true">Back</a>
		</h1>
		<table class="table table-striped table-hovers mt-3">
			<thead>
				<th>Username</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Admin</th>
				<th>Super</th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<th>
						<%= worker.username%>
					</th>
					<th>
						<%= worker.name%>
					</th>
					<th>
						<%= worker.email%>
					</th>
					<th>
						<%= worker.phoneNumber%>
					</th>
					<th>
						<input type="checkbox" <% if(worker.isAdmin) {%>
						checked
						<% } %>
							disabled
							>
					</th>
					<th>
						<input type="checkbox" <% if(worker.isSuper) {%>
						checked
						<% } %>
							disabled
							>
					</th>
					<th>
						<a class="btn btn-warning btn-sm " href="/workers/<%=worker._id%>/edit">Edit</a>
						<% if(currentUser.isSuper) { %>
							<form class="d-inline px-3" method="POST" action="/workers/<%=worker._id%>?_method=DELETE">
								<button class="btn btn-sm btn-outline-danger">
									Delete
								</button>
							</form>
							<% } %>
					</th>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<table class="table table-striped table-hovers mt-3">
			<thead>
				<th>Date</th>
				<th>Absence</th>
				<th></th>
			</thead>
			<tbody>
				<% for(let log of worker.logs) {%>
					<tr>
						<th>
							<%= log.date.toISOString().substring(0, 10)%>
						</th>
						<th>
							<input type="checkbox" <% if(log.isAbsence) {%>
							checked
							<% } %>
								disabled
								>
						</th>
						<th>
							<a class="btn btn-primary btn-sm" href="/logs/<%=log._id%>">View</a>
							<form class="d-inline px-3" method="POST" action="/logs/<%=log._id%>?_method=DELETE">
								<button class="btn btn-sm btn-danger">
									Delete
								</button>
							</form>
						</th>
					</tr>
					<% } %>
			</tbody>
		</table>
	</div>